name: Waka Readme

env:
  IGNORED_LANGUAGES: YAML JSON TOML Dhall Docker sh Bash Markdown cabal cabalproject Other Text "Git Config" conf VimL CSV CSS "Vim Script" CMake "Image (png)" XML Objective-C INI pdf "GitIgnore file" HTML "GUI_DESIGNER_FORM" "Shell Script" textmate Properties "Java Properties"
  LANG_COUNT: 10

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main

jobs:
  update-lifetime:
    name: WakaTime Total Metrics
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SECTION_NAME: wakalifetime
          BLOCKS: ░▒▓█
          TIME_RANGE: all_time
          LANG_COUNT: ${{ env.LANG_COUNT }}
          CODE_LANG: asm
          SHOW_TIME: true
          SHOW_TOTAL: true
          SHOW_MASKED_TIME: false
          STOP_AT_OTHER: true
          IGNORED_LANGUAGES: ${{ env.IGNORED_LANGUAGES }}
          COMMITTER_NAME: GitHubActionBot
          COMMITTER_EMAIL: action-bot@github.com
  update-monthly:
    name: WakaTime Monthly Metrics
    runs-on: ubuntu-latest
    needs: update-lifetime
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SECTION_NAME: wakamonthly
          BLOCKS: ░▒▓█
          TIME_RANGE: last_30_days
          LANG_COUNT: ${{ env.LANG_COUNT }}
          CODE_LANG: asm
          SHOW_TIME: true
          SHOW_TOTAL: true
          SHOW_MASKED_TIME: false
          STOP_AT_OTHER: true
          IGNORED_LANGUAGES: ${{ env.IGNORED_LANGUAGES }}
          COMMITTER_NAME: GitHubActionBot
          COMMITTER_EMAIL: action-bot@github.com
